p{
    color: #262626;
    font: 14px/1.5  Arial, Verdana,  SansSerif,Helvetica ;
    text-indent: 35px;
}

ol {
    list-style: upper-alpha inside;
}
ul {

    list-style: inside url("../images/yes.png");
}

#header{
    color: #c23636;
    font-family: Arial, Verdana,  SansSerif,Helvetica;
    font-size: 30px;
    text-align: center;

}

h2 {
    font-family: Arial, Verdana,  SansSerif,Helvetica;
    font-size: 24px;
    text-align: center;
}

p span {
    color: aqua;
    text-decoration: underline;
}

h2, h3 {
    color: darkcyan;
}
.bold-text {
    font-weight: bold;
}

.italic-text {
    font-style: italic;
    font-weight: bold;
}

tr {
    text-align: center;
}

.left-column {
    text-align: left;
}

a {
    color: bisque;
}

a:hover {
    text-decoration: none;
}